<nav class="navbar navbar-expand-lg bg-light" th:fragment="navigator">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Sweater</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/messages/messagesList">Messages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/messages">New message</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/users">Userlist</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Authorization
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/login">Sign in</a></li>
                        <li><a class="dropdown-item" href="/registration">Sign up</a></li>
                        <li>
                            <form th:action="@{/logout}" method="post">
                                <input type="submit" value="Sign Out"/>
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
            <div th:if="Session.SPRING_SECURITY_CONTEXT != null" class="navbar-text" th:text="${name}"></div>
        </div>
    </div>
</nav>