<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>AddMessages</title>
</head>
<body>
<div class="container">
<form th:method="POST" enctype="multipart/form-data" th:action="@{/messages}" th:object="${message}">
    <ul>
        <li>
            <label for="text">Message:</label>
            <textarea type="text" id="text" name="message_text" th:field="*{text}"></textarea>
        </li>
        <li>
            <label for="tag">Tag:</label>
            <input id="tag" name="user_tag" th:field="*{tag}"/>
        </li>
        <li>
            <label for="file">File:</label>
            <input type="file" id="file" name="file"/>
        </li>
        <button type="submit">Send your message</button>
    </ul>
</form>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
</body>
</html>