<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Messages</title>
</head>
<body>
<div class="container">

    <nav th:replace="~{fragments/nav :: navigator}"></nav>

<th:block th:each="message: ${messages}">
    <div>Text: <span th:text="*{message.text}">111</span></div>
    <div>Tag: <span th:text="*{message.tag}">111</span></div>
    <div>Author: <span th:text="*{message.author.username}">111</span></div>
    <div th:if="${message.filename != null}">File: <img th:src="@{/img/{username}/{filename}(filename=${message.filename}, username=${message.author.username})}"></img></div>
    <br>
</th:block>

<form th:method="POST" th:action="@{/messages/filter}" th:object="${message}">
    <input type="text" name="filter">
    <button type="submit" class="btn btn-primary">Find</button>
</form>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
</div>
</body>
</html>